<div class="container animated fadeInUp">
  <div class="row">
      <div class="col s12 m6">
          <div class="card">
              <div class="card-image">
                <a routerLink="operaciones">
                    <img class="responsive-img" src="/assets/img/operaciones.png" style="height: 350px;">
                </a>
              </div>
              <div class="card-action">
                  <a routerLink="operaciones">Operaciones con Sitemas de Numeración</a>
              </div>
            </div>
      </div>
      <div class="col s12 m6">
          <div class="card">
              <div class="card-image">
                <a routerLink="plot">
                  <img class="responsive-img" src="/assets/img/graficas.png" style="height: 350px;">
                </a>
              </div>
              <div class="card-action">
                  <a routerLink="plot">Graficar Funciones</a>
              </div>
          </div>
      </div>
      <div class="col s12 m6">
          <div class="card">
              <div class="card-image">
                <a routerLink="encrypt">
                  <img class="responsive-img" src="/assets/img/encrypt.jpg" style="height: 350px;">
                </a>
              </div>
              <div class="card-action">
                  <a routerLink="encrypt">Cifrar/Descifrar</a>
              </div>
          </div>
      </div>
  </div>
</div>
